// Citation for the following code:
// Date: 12/05/2022
// Adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app

<!--Read Class_Schedule-->
<h2 class="pageTitle">Class Schedule</h2>

<div>
    <table border="1" cellpadding="5" id="schedule-table">
        <thead>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.[Schedule ID]}}>
                <td>{{this.[Schedule ID]}}</td>
                <td>{{this.Time}}</td>
                <td>{{this.Location}}</td>
                <td>{{this.Class}}</td>
                <td>{{this.Instructor}}</td>
                <td><button onclick="deleteSchedule({{this.[Schedule ID]}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<div class="forms">
    <!--Create Class Schedule-->
    <div class="createForm">
        <h3>Add a Class Schedule</h3>
        <form id="addSchedule" method="POST" action="/add-schedule-form">
            <label> Time </label> <input type="text" name="input-time" id="input-time" required>
            <span>*Required</span>
            <br>

            <label> Location </label>
            <select name="input-location" id="input-location" required>
                <option value="">Select a Location</option>
                {{#each locations}}
                <option value="{{this.location_id}}">{{this.address}}</option>
                {{/each}}
            </select> <span>*Required</span>
            <br>

            <label> Class </label>
            <select name="input-class" id="input-class" required>
                <option value="">Select a Fitness Class</option>
                {{#each classes}}
                <option value="{{this.class_id}}">{{this.class_name}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>

            <label> Instructor </label>
            <select name="input-instructor" id="input-instructor" required>
                <option value="">Select an Instructor</option>
                {{#each instructors}}
                <option value="{{this.trainer_id}}">{{this.pt_first_name}} {{this.pt_last_name}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>

            <input class=" btn" type="submit" id="addCustomer" value="Add a Class Schedule">
        </form>
    </div>

    <div class="updateForm">
        <!--Update Class Schedule-->
        <h3>Update a Class Schedule</h3>
        <form id="update-schedule-form-ajax">
            <label for="input-scheduleID">Class Schedule ID: </label>
            <select name="input-schedule-update" id="input-schedule-update" required>
                <option value="">Select a Class Schedule ID</option>
                {{#each data}}
                <option value="{{this.[Schedule ID]}}">{{this.[Schedule ID]}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>

            <label for=" input-time">Time: </label> <input type="text" name="input-time-update" id="input-time-update"
                required>
            <span>*Required</span> <br>

            <label for="input-location">Location: </label>
            <select name="input-location-update" id="input-location-update" required>
                <option value="">Select a location</option>
                {{#each locations}}
                <option value='{"{{this.location_id}}":"{{this.address}}"}'>{{this.address}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>

            <label for="input-class">Class: </label>
            <select name="input-class-update" id="input-class-update" required>
                <option value="">Select a Fitness Class</option>
                {{#each classes}}
                <option value='{"{{this.class_id}}":"{{this.class_name}}"}'>{{this.class_name}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>

            <label for="input-instructor">Instructor: </label>
            <select name="input-instructor-update" id="input-instructor-update" required>
                <option value="">Select an Instructor</option>
                {{#each instructors}}
                <option value='{"{{this.trainer_id}}":"{{this.pt_first_name}} {{this.pt_last_name}}"}'>
                    {{this.pt_first_name}} {{this.pt_last_name}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>
            <input type="submit">
        </form>
    </div>

</div>

</div>

<script src="/js/update_schedule.js"></script>
<script src="/js/delete_schedule.js"></script>