<h1>Customers</h1>

<div>
    <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/memberships">Memberships</a> | <a
        href="/locations">Locations</a> | <a href="fitness_classes">Fitness_Classes</a> | <a
        href="/personal_trainers">Personal_Trainers</a> | <a href="/trainer_customer">Trainer_Customer</a> | <a
        href="/class_schedule">Class_Schedule</a> | <a href="/membership_location">Membership_Location</a>
</div>

<!--Read Customers-->
<div style="display:block">
    <p><strong>Browse Customers</strong></p>
    <table border="1" cellpadding="5" id="customers-table">
        <thead>
            <!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders -->
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.First_Name}}</td>
                <td>{{this.Last_Name}}</td>
                <td>{{this.Active}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.Membership_ID}}</td>
                <td><a href="#">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<!--Search Customers-->
<div id="search" style="display: block">
    <form id="searchCustomer">
        <legend><strong>Search Customer</strong></legend>
        <fieldset class="fields">
            <label> Last Name </label> <input type="text" name="l_name"> <br>
        </fieldset>
        <input class=" btn" type="submit" id="searchCustomer" value="Search a Customer">
        <input class="btn" type="button" value="cancel">
    </form>
</div>
<br>

<!--Create Customers-->
<div id="insert" style="display: block">
    <form id="addCustomer" method="POST" action="/add-customer-form">
        <legend><strong>Add a Customer</strong></legend>
        <fieldset class="fields">
            <label> First Name </label> <input type="text" name="input-fname" id="input-fname"> <span>*Required</span>
            <br>
            <label> Last Name </label> <input type="text" name="input-lname" id="input-lname"> <span>*Required</span>
            <br>
            <label> Email </label> <input type="text" name="input-email" id="input-email"> <br>
            <label> Membership </label> <select name="input-membership-id" id="input-membership-id">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select> <span>*Required</span>
        </fieldset>
        <input class=" btn" type="submit" id="addCustomer" value="Add a Customer">
        <input class="btn" type="button" value="cancel">
    </form>
</div>
<br>

<!--Update Customer-->
<div id="update" style="display: block">
    <form id="updateCustomer">
        <legend><strong>Update Customer</strong></legend>
        <fieldset class="fields">
            <label>ID:</label> 1
            <label> First Name </label> <input type="text" value="John" name="fname"> <span>*Required</span> <br>
            <label> Last Name </label> <input type="text" value="Smith" name="lname"> <span>*Required</span> <br>
            <label> Is Active</label>
            <select name="isActive">
                <option value="1">Active</option>
                <option value="0">Not Active</option>
            </select> <span>*Required</span> <br>
            <label> Email </label> <input type="email" name="email" value="johnsmith@gmail.com"> <br>
            <label> Membership </label> <input type="text" name="membership" value="General - 60">
            <span>*Required</span>
        </fieldset>
        <input class="btn" type="submit" id="UpdateSaveCustomer" value="Save Update Customer">
        <input class="btn" type="button" value="cancel">
    </form>
</div>