<!--
Citation for the following code:
Date: 12/05/2022
Adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<!--Read Customers-->
<h2 class="pageTitle">Customers</h2>

<div>
    <table border="1" cellpadding="5" id="customers-table">
        <thead>
            <!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders -->
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[First Name]}}</td>
                <td>{{this.[Last Name]}}</td>
                <td>{{this.Active}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.Membership}}</td>
                <td><button onclick="deletePerson({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>


<div class="forms">
    <!--Search Customers-->
    <div class="searchForm">
        <h3>Search Using an HTML Form</h3>
        <p>Search by last name using the field below. Partial last names are OK too!</p>
        <form id="search-person-html" method='GET' action='/customers'>
            <label for="input-lname">Search by Last Name: </label>
            <input type="text" name="lname" id="input-lname-html-search">

            <input type="submit">
            <a href='/'><button>Reset</button></a>
        </form>
    </div>


    <!--Create Customers-->
    <div class="createForm">
        <form id="addCustomer" method="POST" action="/add-customer-form">
            <h3>Add a Customer</h3>
            <label> First Name </label> <input type="text" name="input-fname" id="input-fname" required>
            <span>*Required</span>
            <br>
            <label> Last Name </label> <input type="text" name="input-lname" id="input-lname" required>
            <span>*Required</span>
            <br>
            <label> Email </label> <input type="email" name="input-email" id="input-email"> <br>
            <label> Membership </label>
            <select name="input-membership-id" id="input-membership-id" required>
                <option value="">Select a Membership</option>
                {{#each memberships}}
                <option value="{{this.membership_id}}">{{this.membership_name}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>
            <input class=" btn" type="submit" id="addCustomer" value="Add a Customer">
        </form>
    </div>

    <!--Update Customers-->
    <div class="updateForm">
        <h3>Update A Customer's Membership</h3>
        <p>To update a specific customer's membership, select their name from the drop-down menu on the left and their
            desired membership from the drop down menu on the right</p>
        <form id="update-person-form-ajax">

            <label for="input-fullname">Full name: </label>
            <select name="input-fullname" id="mySelect" required>
                <option value="">Select a Customer</option>
                {{#each data}}
                <option value="{{this.ID}}">{{this.[First Name]}} {{this.[Last Name]}}</option>
                {{/each}}
            </select>

            <label for="input-membership">Membership: </label>
            <select name="input-membership" id="input-membership-update" required>
                <option value="">Select a Membership</option>
                {{#each memberships}}
                <option value='{"{{this.membership_id}}":"{{this.membership_name}}"}'>{{this.membership_name}}</option>
                {{/each}}
                <option value="">None</option>
            </select>
            <input type="submit">
        </form>
    </div>
</div>

<script src="/js/delete_person.js"></script>
<script src="/js/update_person.js"></script>