<h1> Fitness Classes </h1>
<div>
    <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/memberships">Memberships</a> | <a
        href="/locations">Locations</a> | <a href="fitness_classes">Fitness_Classes</a> | <a
        href="/personal_trainers">Personal_Trainers</a> | <a href="/trainer_customer">Trainer_Customer</a> | <a
        href="/class_schedule">Class_Schedule</a> | <a href="/membership_location">Membership_Location</a>
</div>

<!--Read Fitness_Classes-->
<div style="display:block">
    <p><strong>Browse Fitness Classes</strong></p>
    <table border="1" cellpadding="5" id="classes-table">
        <thead>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[Class Name]}}</td>
                <td><button onclick="deleteClass({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<!--Create Fitness Class-->
<div id="insert" style="display: block">
    <form id="addClass" method="POST" action="/add-class-form">
        <legend><strong>Add a Class</strong></legend>
        <fieldset class="fields">
            <label> Class Name </label> <input type="text" name="input-classname" id="input-classname" required>
            <span>*Required</span>
        </fieldset>
        <input class=" btn" type="submit" id="addClass" value="Add a Class">
        <input class="btn" type="button" value="cancel">
    </form>
</div>
<br>

<script src="/js/delete_class.js"></script>