<!--Read Fitness_Classes-->
<h2 class="pageTitle"> Fitness Classes</h2>

<div>

    <table border="1" cellpadding="5" id="classes-table">
        <thead>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[Class Name]}}</td>
                <td><button onclick="deleteClass({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<div class="forms">
    <!--Create Fitness Class-->
    <div class="createForm">
        <h3>Add a Fitness Class</h3>
        <form id="addClass" method="POST" action="/add-class-form">
            <label> Class Name </label> <input type="text" name="input-classname" id="input-classname" required>
            <span>*Required</span> <br>
            <input class=" btn" type="submit" id="addClass" value="Add a Class">
        </form>
    </div>
</div>
<script src="/js/delete_class.js"></script>