<!--
Citation for the following code:
Date: 12/05/2022
Adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<!--Read Locations-->
<h2 class="pageTitle">Locations</h2>

<div>
    <table border="1" cellpadding="5" id="locations-table">
        <thead>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[Operating Hours]}}</td>
                <td>{{this.[Phone Number]}}</td>
                <td>{{this.Address}}</td>
                <td><button onclick="deleteLocation({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<!--Create Location-->
<div class="form">
    <div class="createForm">
        <h3>Add a Location</h3>
        <form id="addLocation" method="POST" action="/add-location-form">
            <label> Operating Hours </label> <input type="text" name="input-operatinghours" id="input-operatinghours"
                required>
            <span>*Required</span>
            <br>
            <label> Phone Number </label> <input type="text" name="input-phonenumber" id="input-phonenumber" required>
            <span>*Required</span>
            <br>
            <label> Address </label> <input type="text" name="input-address" id="input-address" required>
            <span>*Required</span>
            <br>
            <input class=" btn" type="submit" id="addLocation" value="Add a Location">
        </form>
    </div>
</div>

<script src="/js/delete_location.js"></script>