<h1>Membership Location</h1>

<div>
    <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/memberships">Memberships</a> | <a
        href="/locations">Locations</a> | <a href="fitness_classes">Fitness_Classes</a> | <a
        href="/personal_trainers">Personal_Trainers</a> | <a href="/trainer_customer">Trainer_Customer</a> | <a
        href="/class_schedule">Class_Schedule</a> | <a href="/membership_location">Membership_Location</a>
</div>

<!--Read Membershp Locations-->
<div style="display:block">
    <p><strong>Browse Membership Location</strong></p>
    <table border="1" cellpadding="5" id="membershiplocation-table">
        <thead>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[Membership Name]}}</td>
                <td>{{this.[Location Access]}}</td>
                <td><button onclick="deleteMembershipLocation({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<!--Create Membership Location-->
<div id="insert" style="display: block">
    <form id="addMembershipLocation" method="POST" action="/add-membershiplocation-form">
        <legend><strong>Add a Membership's Location Access</strong></legend>
        <fieldset class="fields">
            <label> Membership Name </label>
            <select name="input-membership" id="input-membership" required>
                <option value="">Select a Membership</option>
                {{#each memberships}}
                <option value="{{this.membership_id}}">{{this.membership_name}}</option>
                {{/each}}
            </select>
            <span>*Required</span>
            <br>

            <label> Location </label>
            <select name="input-location" id="input-location" required>
                <option value="">Select a Location</option>
                {{#each locations}}
                <option value="{{this.location_id}}">{{this.address}}</option>
                {{/each}}
            </select>
            <span>*Required</span>
            <br>
        </fieldset>
        <input class=" btn" type="submit" id="addMembershipLocation" value="Add a Membership's Location Access">
    </form>
</div>
<br>

<script src="/js/delete_membership_location.js"></script>