<!--
Citation for the following code:
Date: 12/05/2022
Adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<!--Read Membershps-->
<h2 class="pageTitle"> Memberships </h2>

<div>
    <table border="1" cellpadding="5" id="memberships-table">
        <thead>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[Membership Name]}}</td>
                <td>{{this.Description}}</td>
                <td>{{this.Duration}}</td>
                <td><button onclick="deleteMembership({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<div class="forms">
    <!--Create Membership-->
    <div class="createForm">
        <h3>Add a Membership</h3>
        <form id="addMembership" method="POST" action="/add-membership-form">
            <label> Membership Name </label> <input type="text" name="input-membershipname" id="input-membershipname"
                required>
            <span>*Required</span>
            <br>
            <label> Description </label> <input type="text" name="input-description" id="input-description" required>
            <span>*Required</span>
            <br>
            <label> Duration </label> <input type="text" name="input-duration" id="input-duration" required>
            <span>*Required</span>
            <br>
            <input class=" btn" type="submit" id="addMembership" value="Add a Membership">
        </form>
    </div>

</div>
<script src="/js/delete_membership.js"></script>