<h1> Personal Trainers </h1>
<div>
    <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/memberships">Memberships</a> | <a
        href="/locations">Locations</a> | <a href="fitness_classes">Fitness_Classes</a> | <a
        href="/personal_trainers">Personal_Trainers</a> | <a href="/trainer_customer">Trainer_Customer</a> | <a
        href="/class_schedule">Class_Schedule</a> | <a href="/membership_location">Membership_Location</a>
</div>

<!--Read Personal Trainers-->
<div style="display:block">
    <p><strong>Browse Personal Trainers</strong></p>
    <table border="1" cellpadding="5" id="trainers-table">
        <thead>
            <!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders -->
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[First Name]}}</td>
                <td>{{this.[Last Name]}}</td>
                <td>{{this.[Phone Number]}}</td>
                <td align="right">{{this.[Assigned Location]}}</td>
                <td><button onclick="deleteTrainer({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<!--Create Personal Trainers-->
<div id="insert" style="display: block">
    <form id="addTrainer" method="POST" action="/add-trainer-form">
        <legend><strong>Add a Personal Trainer</strong></legend>
        <fieldset class="fields">
            <label> First Name </label> <input type="text" name="input-fname" id="input-fname" required>
            <span>*Required</span>
            <br>
            <label> Last Name </label> <input type="text" name="input-lname" id="input-lname" required>
            <span>*Required</span>
            <br>
            <label> Phone Number </label> <input type="text" name="input-phonenumber" id="input-phonenumber" required>
            <span>*Required</span>
        </fieldset>
        <input class=" btn" type="submit" id="addTrainer" value="Add a Personal Trainer">
    </form>
</div>
<br>

<script src="/js/delete_trainer.js"></script>