<!--
Citation for the following code:
Date: 12/05/2022
Adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<!--Read Personal Trainers-->
<h2 class="pageTitle"> Personal Trainers </h2>

<div>
    <table border="1" cellpadding="5" id="trainers-table">
        <thead>
            <!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders -->
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[First Name]}}</td>
                <td>{{this.[Last Name]}}</td>
                <td>{{this.[Phone Number]}}</td>
                <td align="right">{{this.[Assigned Location]}}</td>
                <td><button onclick="deleteTrainer({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<!--Create Personal Trainers-->
<div class="forms">
    <div class="createForm">
        <h3>Add a Personal Trainer</h3>
        <form id="addTrainer" method="POST" action="/add-trainer-form">
            <label> First Name </label> <input type="text" name="input-fname" id="input-fname" required>
            <span>*Required</span>
            <br>
            <label> Last Name </label> <input type="text" name="input-lname" id="input-lname" required>
            <span>*Required</span>
            <br>
            <label> Phone Number </label> <input type="text" name="input-phonenumber" id="input-phonenumber" required>
            <span>*Required</span> <br>

            <label> Location </label>
            <select name="input-location" id="input-location" required>
                <option value="">Select a Location</option>
                {{#each locations}}
                <option value="{{this.location_id}}">{{this.address}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>
            <input class=" btn" type="submit" id="addTrainer" value="Add a Personal Trainer">
        </form>
    </div>
</div>
<script src="/js/delete_trainer.js"></script>