<!--
Citation for the following code:
Date: 12/05/2022
Adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<!--Read Trainer_Customer-->
<h2 class="pageTitle">Trainer Customer</h2>

<div style="display:block">
    <table border="1" cellpadding="5" id="trainercustomer-table">
        <thead>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody id="tbody">
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[Customer]}}</td>
                <td>{{this.[Personal Trainer]}}</td>
                <td><button onclick="deleteTrainerCustomer({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<div class="forms">
    <!--Create Trainer_Customer-->
    <div class="createForm">
        <h3>Add a Trainer Customer</h3>
        <form id="addTrainerCustomer" method="POST" action="/add-trainercustomer-form" onsubmit="myfunction(event)">
            <label for="inputcustomer">Customer Name: </label>
            <select name="inputcustomer" required>
                <option value="">Select a Customer</option>
                {{#each customers}}
                <option value="{{this.customer_id}}">{{this.cst_first_name}} {{this.cst_last_name}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>
            <label for="inputtrainer">Personal Trainer: </label>
            <select name="inputtrainer" required>
                <option value="">Select a Personal Trainer</option>
                {{#each trainers}}
                <option value="{{this.trainer_id}}">{{this.pt_first_name}} {{this.pt_last_name}}</option>
                {{/each}}
            </select> <span>*Required</span> <br>
            <input class=" btn" type="submit" id="addTrainerCustomer" value="Add a Trainer Customer">
        </form>
    </div>
</div>
<script src="/js/delete_tc.js"></script>
<script>
    function myfunction(event) {

        // Get the selected options from the input
        let customer = event.target.elements.inputcustomer.selectedOptions[0].text;
        let trainer = event.target.elements.inputtrainer.selectedOptions[0].text;
        let table = document.getElementById("trainercustomer-table");

        // iterate over the table and see if there already exists a trainer and customer
        for (let i = 0, row; row = table.rows[i]; i++) {
            if (table.rows[i].cells[1].innerHTML == customer && table.rows[i].cells[2].innerHTML == trainer) {
                event.preventDefault();
                alert("Trainer and Customer already exists")
            }
        }
    }
</script>