<h1> Trainer Customer </h1>
<div>
    <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/memberships">Memberships</a> | <a
        href="/locations">Locations</a> | <a href="fitness_classes">Fitness_Classes</a> | <a
        href="/personal_trainers">Personal_Trainers</a> | <a href="/trainer_customer">Trainer_Customer</a> | <a
        href="/class_schedule">Class_Schedule</a> | <a href="/membership_location">Membership_Location</a>
</div>

<!--Read Trainer_Customer-->
<div style="display:block">
    <p><strong>Browse Trainer Customer</strong></p>
    <table border="1" cellpadding="5" id="trainercustomer-table">
        <thead>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
        </thead>

        <tbody>
            <!-- For each row, print the id, fname, lname, homeworld and age, in order -->
            {{#each data}}
            <tr data-value={{this.ID}}>
                <td>{{this.ID}}</td>
                <td>{{this.[Customer]}}</td>
                <td>{{this.[Personal Trainer]}}</td>
                <td><button onclick="deleteTrainerCustomer({{this.ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br>

<!--Create Trainer_Customer-->
<div id="insert" style="display: block">
    <form id="addTrainerCustomer" method="POST" action="/add-trainercustomer-form">
        <legend><strong>Add a Trainer Customer</strong></legend>
        <fieldset class="fields">
            <label for="input-customer">Customer Name: </label>
            <select name="input-customer" required>
                <option value="">Select a Customer</option>
                {{#each customers}}
                <option value="{{this.customer_id}}">{{this.cst_first_name}} {{this.cst_last_name}}</option>
                {{/each}}
            </select> <br>
            <label for="input-trainer">Personal Trainer: </label>
            <select name="input-trainer" required>
                <option value="">Select a Personal Trainer</option>
                {{#each trainers}}
                <option value="{{this.trainer_id}}">{{this.pt_first_name}} {{this.pt_last_name}}</option>
                {{/each}}
            </select>
        </fieldset>
        <input class=" btn" type="submit" id="addTrainerCustomer" value="Add a Trainer Customer">
    </form>
</div>
<br>

<script src="/js/delete_tc.js"></script>